@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300&family=Sriracha&display=swap");
body{
    font-family: 'Lemonada', cursive;
    font-family: 'Sriracha', cursive;
    background: #333;
    color: rgb(31, 28, 28);
    line-height: 1.6em;
}
.slider{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.slide{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.slide .content{
    position: absolute;
    bottom: 70px;
    left: -600px;
    opacity: 0;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 35px;
}
.slide .content{
    margin-bottom: 10px;
    border-radius: 0px 10px 10px 0;
    border: 1px solid rgb(125, 125, 238);
}
.slide.current .content{
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7 ease-in-out 0.3s;
}
.buttons button#next{
    position: absolute;
    top: 50%;
    right: 15px;
    /* height: 20px; */
}
.buttons button#prev{
    position: absolute;
    top: 50%;
    left: 15px;
    /* height: 20px; */
}

.buttons button{    
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 1px;
}


.buttons button:hover {
    background-color: #fff;
    color: #333;
  }

/* small screen */
  @media (max-width: 500px) {
    .slide .content {
      bottom: -300px;
      left: 0;
      width: 100%;
    }
  
    .slide.current .content {
      transform: translateY(-300px);
    }
  }

/* Background images ko lagi  */
.slide.current{
    opacity: 1;
}
.slide:first-child{
    background: url(/home/bikram/Downloads/20200329_193857.jpg) ;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.slide:nth-child(2){
    background: url(/home/bikram/Downloads/LRM_EXPORT_20200309_175938.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.slide:nth-child(3){
    background: url(/home/bikram/Downloads/ranimahal.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.slide:nth-child(4){
    background: url(/home/bikram/Downloads/LRM_EXPORT_20200209_114156.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.slide:nth-child(5){
    background: url(/home/bikram/Downloads/banner1.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.slide:nth-child(6){
    background: url(/home/bikram/Downloads/Photos/IMG-0e9c362f164ea287766c5e6f86ae8439-V.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}