*{
    box-sizing: border-box;
}
html,
body{
    margin:0;
    font-family:monospace;
    color: #fff;
    background: #333;
    /* overflow: hidden; */
}
.landing{
    position: relative;
    height: 100vh;
    background-image: url(/home/bikram/Downloads/grayscale-photo-of-computer-laptop-near-white-notebook-and-169573.jpg);
    background-position: center;
    background-size: cover;
}
.landing-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-top: 50px;
}
.landing h1{
    font-size: 50px;
}
.landing p{
    font-size: 20px;
}
.countdown span{
    border: 1px solid white;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
}
.countdown {
    border: 1px solid white;
    border-radius: 7px;
    padding: 0px;
    margin: 0px;
    padding-right: 10px;
}
